@charset "utf - 8";
/* 버튼 컨포넌트 */
.button {
  border: none;
  /* css에서는 변수 지정 var */
  padding: var(--button-padding-l);
  background-color: var(--button-primary-color);
  color: var(--text-color-light);
  

}
.button:hover {
  background-color: var(--button-hover-color);
  color: var(--text-color-dark);
}
.button:ative {
  background-color: var(--button-active-color);
  color: var(--text-color-dark);
}
