
@charset "utf - 8";
/* 변수를 모두 모아놓는다 */
:root {
  /* 색상  */
  /* 메인 색깔 */
  --primary-color: rgb(102, 48, 229);
  /* 서브 색깔 */
  --secondary-color: #2ecc71;
  --sub-color: #f8afed;
  /* button 색상 */
  --button-primary-color: rgb(102, 48, 229);
  /* button 호버 색상 */
  --button-hover-color: #1f771e;
  /* button 활성화 시 색상 */
  --button-active-color: #e7783c;
  /* 버튼 padding */
  /* 웹 버튼 시 */
  --button-padding-l : 10px 20px;
  /* 테블릿 버튼 시 */
  --button-padding-m : 8px 16px;
  /* 모바일 버튼 시 */
  --button-padding-s : 6px 10px;
  /* 글자 색상 */
  /* 일반 */
  --text-color-light: #2c3e50;
  /* 다크모드 일 때 */
  --text-color-dark: #f1f9ca;
  /* 간격 */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;

}
